#sapo7{
	position: absolute;
	height: 27px;
	top: 333px;
	left: 311px;
}

#sapo6{
	position: absolute;
	height: 30px;
	top: 359px;
	left: 346px;
}

#sapo5{
	position: absolute;
	height: 30px;
	top: 359px;
	left: 286px;
}
#sapo4{
	position: absolute;
	height: 41px;
	top: 389px;
	left: 350px;
}
#sapo3{
	position: absolute;
	height: 41px;
	top: 389px;
	left: 317px;
}
#sapo2{
	position: absolute;
	height: 70px;
	top: 430px;
	left: 348px;
}
#sapo1{
	position: absolute;
	height: 70px;
	top: 430px;
	left: 314px;
}
